/*
Theming:
#44AF69 (pastel green)
#F8454D (red)
#FCC151 (yellow)
#64B8C7 (blue)
#EFEFEF (grey)
#32908f (darker blue)

#870505 (Spoiler Red)

#c76363 (Link hover NSFW)
#722525 (Link focus NSFW)

#64B8C7 (Link hover blue)
#256772 (Link focus blue)
#48a2cc (hyperlink plain)

Colour Codes for Ratings
#99c140 (green)
#e8812c (amber)
#cc3232 (red)


#2E51A2 (mal blue)
#F75139 (kitsu orange)
#402F3F (kitsu secondary)
#0099FF (anilist blue)

#d1e3aa
*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #48a2cc;
}

.App-link:hover {
  color: #64B8C7;
}

.App-link:focus {
  color: #256772
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
